:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: auto;

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: 880px;
        width: 880px;
        justify-content: space-between;

        .parv-prabhu {
            justify-content: space-between;
            display: flex;
            margin-top: 134px;
            gap: 50px;

            .prabhu {
                width: 200px;
            }

            span {
                margin-top: 20px;
                font-weight: 600;
                font-size: 20px;
                color: #dc3545;
            }
        }

        .mantra {
            font-size: 16px;
            font-weight: 500;
        }

        .date-day {
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            .date {
                font-size: inherit;
                margin-right: 8px;
            }
            
            .day {
                font-size: inherit;
            }
        }
        
        .month-tithi {
            display: flex;
            align-items: center;
            font-size: 28px;
            text-transform: uppercase;
            gap: 10px;

            .title {
                font-size: inherit;
            }
            
            .month {
                font-size: inherit;
            }

            .paksh {
                font-size: inherit;
            }

            .tithi {
                font-size: inherit;
            }
        }

        .kalyanak {
            font-size: 25px;
            font-weight: 600;
            color: #cc3800;
            max-width: 70%;
            text-align: center;
        }

        .niyam-title {
            font-weight: 600;
            font-size: 30px;
            margin-top: 10px;
        }

        .niyam {
            font-size: 40px;
            color: #ad2000;
            font-weight: 600;
            margin-top: -15px;
            margin-bottom: 10px;
        }

        .disclaimer {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 15px;
            max-width: 60%;
            color: #8e0606;
            text-align: center;
            text-shadow: 0px 0px 2px #ffa2a2;
        }

        .footer {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 15px;
            margin-bottom: 130px;
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 880px;
            height: 880px;        
        }

        .logo {
            position: absolute;
            z-index: 1;
            opacity: 0.5;
            width: 200px;
            top: 410px;
        }
    }

    .date-selector {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .no-niyam {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        height: 880px;
        width: 880px;
        background-color: #fff;
        color: #ad2000;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #cef0ff;
    }

    .download-btn {
        position: absolute;
        top: 80px;
        left: 10px;
    }
}